{% extends "layouts/account.html" %}



{% block content %}


<div class="ui relaxed stackable grid">
    <div class="eight wide column">
        <form class="ui big form fatturazione" method="post" action="/account/pagamento/fatturazioneEdit">

        <input type="hidden" name="_id" value="{{user.getFdtUserId()}}">

            <h2 class="ui dividing header"><i class="file icon"></i> Dati di Fatturazione</h2>
            <div class="two fields">
                <div class="field required">
                    <label>Ragione Sociale / Intestatario della fattura</label>
                    <input type="text" name="ragionesociale" value="{{user.getIndirizzoFatturazione().ragionesociale}}" placeholder="Intestatario della fattura">
                </div>
                <div class="field required">
                    <label>Codice Fiscale/Partita IVA</label>
                    <input type="text" name="codicefiscale_iva" value="{{user.getIndirizzoFatturazione().codicefiscale_iva}}" placeholder="Codice Fiscale o Partiva Iva">
                </div>
            </div>
                <div class="field required">
                    <label>Indirizzo e Numero civico di fatturazione</label>
                    <input type="text" name="address_line1" value="{{user.getIndirizzoFatturazione().address_line1}}" placeholder="Indirizzo compreso numero civico">
                </div>

            <div class="three fields">
                <div class="field required">
                    <label>Città</label>
                    <input type="text" name="address_city" value="{{user.getIndirizzoFatturazione().address_city}}" placeholder="Citta">
                </div>
                <div class="field required">
                    <label>Provincia</label>
                    <input type="text" name="address_state" value="{{user.getIndirizzoFatturazione().address_state}}" placeholder="Provincia">
                </div>
                <div class="field required">
                    <label>CAP</label>
                    <input type="number" name="address_zip" value="{{user.getIndirizzoFatturazione().address_zip}}" placeholder="Codice di avviamento postale">
                </div>
            </div>

            <button class="ui blue button" type="submit"><i class="save icon"></i> Salva</button>
        </form>


    </div>
    <div class="eight wide column">

        {% if user.getIndirizzoFatturazione() %}
        <form class="ui big form carta" method="post" action="/account/pagamento/pagamentoEdit" id="payment-form">

        <input type="hidden" name="_id" value="{{user.getFdtUserId()}}">
        <input type="hidden" name="stripeToken" value="">


            <h2 class="ui dividing header"><i class="stripe icon"></i> Carta di credito</h2>
                {% if user.getDatiCartaCredito() %}

                    <h3 class="ui dividing header">Carta di credito Attuale</h3>

                    <div class="numero_carta_attuale">
                        <span class="label">Carta:</span> {{user.getDatiCartaCredito().brand}} - •••• •••• •••• {{user.getDatiCartaCredito().last4}} |
                        <span class="label">Scadenza:</span> {{user.getDatiCartaCredito().exp_month}}/{{user.getDatiCartaCredito().exp_year}}
                    </div>


                {% endif %}

            <h3 class="ui dividing header"> Nuova carta di credito</h3>

            <div class="field required">
                <label>Nome sulla carta</label>
                <input type="text" name="nome_carta" value="{{user.getNomeCarta()}}" placeholder="Nome">
            </div>
            <div class="field">
                <label for="card-element">Numero carta - Validità - Codice 3 cifre</label>
                <p></p>
                <div id="card-element">

                </div>
                <p></p>
                <div id="card-errors">
            </div>

            </div>

            <button class="ui blue button salva"><i class="save icon"></i> Salva</button>

        </form>
        {% endif %}


    </div>
</div>


{% endblock %}

{% block myScript %}
    <script type="text/javascript">

    const stripe = Stripe('pk_test_iU3Fy31AdJYYRNK7ztZdJMuf');
    const elements = stripe.elements({});

    const style = {
        base: {
            // Add your base input styles here. For example:
            fontSize: '1.1em',
            lineHeight: '2.2em',
        },
    };

    // Create an instance of the card Element
    const card = elements.create('card', {style, hidePostalCode: true});

    // Add an instance of the card Element into the `card-element` <div>
    card.mount('#card-element');

    card.addEventListener('change', ({error, empty}) => {
        console.log (empty);
        const displayError = document.getElementById('card-errors');
        if (error) {
            displayError.textContent = error.message;
        } else {
            displayError.textContent = '';
        }
    });


    $( ".salva" ).on( "click", function(event) {
        event.preventDefault();

        var options = {
            name: $("input[name=nome_carta]").val(),
            address_line1: "{{user.getIndirizzoFatturazione().address_line1}}",
            address_city: "{{user.getIndirizzoFatturazione().address_city}}",
            address_state: "{{user.getIndirizzoFatturazione().address_state}}",
            address_zip: "{{user.getIndirizzoFatturazione().address_zip}}"

        }
        console.log (options);

        //const {token, error} = stripe.createToken(card, options);

        stripe.createToken(card).then(function(result) {
            if (result.error) {
                // Inform the user if there was an error
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                $('input[name=stripeToken]').val(result.token.id);
                console.log (result.token);
                $( "#payment-form" ).submit();
            }
        });


    });

    $('.ui.form.fatturazione')
            .form({
                fields: {
                    ragionesociale: {
                        identifier  : 'ragionesociale',
                        rules: [
                          {
                            type   : 'empty',
                            prompt : 'Il campo deve essere compilato'
                          }
                        ]
                    },
                    codicefiscale_iva: {
                        identifier  : 'codicefiscale_iva',
                        rules: [
                          {
                            type   : 'empty',
                            prompt : 'Il campo deve essere compilato'
                          }
                        ]
                    },
                    address_line1: {
                        identifier  : 'address_line1',
                        rules: [
                          {
                            type   : 'empty',
                            prompt : 'Il campo deve essere compilato'
                          }
                        ]
                    },
                    address_city: {
                        identifier  : 'address_city',
                        rules: [
                          {
                            type   : 'empty',
                            prompt : 'Il campo deve essere compilato'
                          }
                        ]
                    },
                    address_state: {
                        identifier  : 'address_state',
                        rules: [
                          {
                            type   : 'empty',
                            prompt : 'Il campo deve essere compilato'
                          }
                        ]
                    },
                    nome_carta: {
                        identifier  : 'nome_carta',
                        rules: [
                          {
                            type   : 'empty',
                            prompt : 'Il campo deve essere compilato'
                          }
                        ]
                    },
                    address_zip: {
                        identifier  : 'address_zip',
                        rules: [
                          {
                            type   : 'empty',
                            prompt : 'Il campo deve essere compilato'
                          },
                          {
                            type   : 'number',
                            prompt : 'Inserisci un numero'
                          },
                          {
                            type   : 'exactLength[5]',
                            prompt : 'Il cap deve esssre di 5 cifre'
                          }
                        ]
                    },
                },
                inline : true
        });

    $('.ui.form.carta')
            .form({
                fields: {
                    nome_carta: {
                        identifier  : 'nome_carta',
                        rules: [
                          {
                            type   : 'empty',
                            prompt : 'Il campo deve essere compilato'
                          }
                        ]
                    }
                },
                inline : true
        });

    // form.addEventListener('submit', async (event) => {
    //   event.preventDefault();

    //   const {token, error} = await stripe.createToken(card);

    //   if (error) {
    //     // Inform the user if there was an error
    //     const errorElement = document.getElementById('card-errors');
    //     errorElement.textContent = error.message;
    //   } else {
    //     // Send the token to your server
    //     console.log (token);
    //     //stripeTokenHandler(token);
    //   }
    // });



    </script>
{% endblock %}
