{% extends "layouts/account.html" %}



{% block content %}

<div class="ui two column centered grid">
  <div class="column">

        <form class="ui big form" method="post" action="/account/edit" id="payment-form">

        <input type="hidden" name="_id" value="{{user.getFdtUserId()}}">

            <h1 class="ui dividing header">Dati di Fatturazione</h1>
            <div class="two fields">
                <div class="field required">
                    <label>Ragione Sociale / Intestatario della fattura</label>
                    <input type="text" name="ragionesociale" value="{{user.billing.ragionesociale}}" placeholder="Intestatario della fattura">
                </div>
                <div class="field required">
                    <label>Codice Fiscale/Partita IVA</label>
                    <input type="text" name="codicefiscale_iva" value="{{user.billing.codicefiscale_iva}}" placeholder="Codice Fiscale o Partiva Iva">
                </div>
            </div>
                <div class="field required">
                    <label>Indirizzo e Numero civico di fatturazione</label>
                    <input type="text" name="address_line1" value="{{user.billing.address_line1}}" placeholder="Indirizzo compreso numero civico">
                </div>

            <div class="three fields">
                <div class="field">
                    <label>Città</label>
                    <input type="text" name="address_city" value="{{user.billing.address_city}}" placeholder="Citta">
                </div>
                <div class="field required">
                    <label>Provincia</label>
                    <input type="text" name="address_state" value="{{user.billing.address_state}}" placeholder="Provincia">
                </div>
                <div class="field">
                    <label>CAP</label>
                    <input type="number" name="address_zip" value="{{user.billing.address_zip}}" placeholder="Codice di avviamento postale">
                </div>
            </div>


            <h2 class="ui dividing header">Dati carta di credito</h2>
            <div class="field required">
                <label>Nome sulla carta</label>
                <input type="text" name="nome_carta" value="{{user.getCognome()}} {{user.getNome()}}" placeholder="Nome">
            </div>
            <div class="field">
                <label for="card-element">Numero carta - Validità - Codice 3 cifre</label>
                <p></p>
                <div id="card-element">

                </div>
            </div>

            <div id="card-errors">

            </div>

            <button class="ui blue button" type="submit"><i class="save icon"></i> Salva</button>
        </form>

  </div>
</div>


{% endblock %}

{% block myScript %}
    <script type="text/javascript">

    const stripe = Stripe('pk_test_iU3Fy31AdJYYRNK7ztZdJMuf');
    const elements = stripe.elements();

    const style = {
        base: {
            // Add your base input styles here. For example:
            fontSize: '16px',
            lineHeight: '24px',
        },
    };

    // Create an instance of the card Element
    const card = elements.create('card', {style, hidePostalCode: true});

    // Add an instance of the card Element into the `card-element` <div>
    card.mount('#card-element');

    card.addEventListener('change', ({error}) => {

        const displayError = document.getElementById('card-errors');
        if (error) {
            displayError.textContent = error.message;
        } else {
            displayError.textContent = '';
        }
    });

    // Create a token or display an error the form is submitted.
    const form = document.getElementById('payment-form');

    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      const {token, error} = await stripe.createToken(card);

      if (error) {
        // Inform the user if there was an error
        const errorElement = document.getElementById('card-errors');
        errorElement.textContent = error.message;
      } else {
        // Send the token to your server
        console.log (token);
        //stripeTokenHandler(token);
      }
    });



    </script>
{% endblock %}
