<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% block title %}
            <title>Finanza Domani</title>
        {% endblock %}

        {% block description %}
            <meta name="description" content="Il sito che ti guida nei tuoi investimenti in borsa">
        {% endblock %}

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/admin.css">
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="/semantic/dist/semantic.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js" ></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    </head>

<body>


<div class="ui stackable grid">
    <div class="row">
        <div class="three wide column">
            <a href="/admin"><img src="https://dato-images.imgix.net/702/1485530920-finanzadomani-png?auto=format&h=40&fit=crop&crop=entropy."> </a>

            <div class="ui vertical pointing menu">
                <div class="item">
                    <div class="header">Contenuti</div>

                    <div class="menu">
                    {% for menu in adminMenu %}
                      <a class="item {{menu.active}}" href="/admin/{{menu.key}}">{{menu.nome}}</a>
                    {% endfor %}
                    </div>

                </div>
                <div class="item">
                        <div class="header">Settings</div>

                        <div class="menu">
                          <a class="item" href="/logout/">Logout</a>
                        </div>
                </div>
            </div>

        </div>

        <div class="thirteen wide column">

            {% block flashMessageBlock %}
                {% if expressFlash !='' %}
                    <div class="ui small warning message">
                        <i class="close icon"></i>
                        {{expressFlash}}
                    </div>


                    <script type="text/javascript">
                        $('.message .close')
                          .on('click', function() {
                            $(this)
                              .closest('.message')
                              .transition('fade')
                            ;
                          })
                        ;

                    </script>
                {% endif %}

            {% endblock %}

            {% block content %}{% endblock %}
        </div>

    </div>
</div>

{% block myScript %}{% endblock %}

</body>
</html>
