{% extends "layouts/main.html" %}

{% import "./articoli/_articolo_lista.html" as articolo_lista %}


{% block content %}


{% for articolo in articoli | limitTo (0, 1) %}
    <section>
        <div class="row">
            <div class="columns">
                    <h1>
                        <a href="{{articolo.url}}">
                            {{articolo.titolo}}<br class="show-for-large-up">
                        </a>
                    </h1>
                    <p>
                        <span class="titolo_rubrica_piccolo">{{articolo.categoria.name}}</span> <small>{{articolo.dataPubblicazione | date("DD-MM-YYYY")}}</small>
                    </p>

                    <p>
                        <a href="{{articolo.url}}">
                        <img src="{{articolo.immagine | imgx ({w: 740, h: 370})}}" />
                        </a>

                        {{articolo.abstract| markdownToHtml | safe| truncate(750)}}
                    </p>
                    <a href="{{articolo.url}}">Leggi tutto</a>


            </div>
        </div>
    </section>
{% endfor %}

<div class="spazio_bianco"></div>

<div class="row small-up-1 medium-up-2">
    {% for articolo in articoli | limitTo (1, 10) %}

           {{ articolo_lista.articolo_lista(articolo) }}

           <hr>

    {% endfor %}

</div>

{% endblock %}



{% block myScript %}


{% endblock %}







