{% extends "layouts/main.html" %}

{% import "./articoli/_articolo_lista.html" as articolo_lista %}


{% block content %}


{% for articolo in articoli | limitTo (0, 1) %}
    <section>
        <div class="row">
            <div class="columns">
                    <h1>
                        <a href="{{articolo.url}}">
                            {{articolo.titolo}}<br class="show-for-large-up">
                        </a>
                    </h1>
                    <p>
                        <span class="titolo_rubrica_piccolo">{{articolo.categoria.name}}</span> <small>{{articolo.dataPubblicazione | date("DD-MM-YYYY")}}</small>
                    </p>

                    <p>
                        <a href="{{articolo.url}}">
                        <img src="{{articolo.immagine | imgx ({w: 740, h: 370})}}" />
                        </a>

                        {{articolo.abstract| markdownToHtml | safe| truncate(750)}}
                    </p>
                    <a href="{{articolo.url}}">Leggi tutto</a>


            </div>
        </div>
    </section>
{% endfor %}

<div class="spazio_bianco"></div>

<div class="row small-up-1 medium-up-2">
    {% for articolo in articoli | limitTo (1, 3) %}

           {{ articolo_lista.articolo_lista(articolo) }}

    {% endfor %}

</div>


<div class="row">

    <div class="columns box-rubrica news">
        <h3><a href="/articoli/news-2">News</a></h3>
            <div class="row small-up-1 medium-up-2">

            {% for articolo in news %}

                {{ articolo_lista.articolo_lista(articolo) }}

            {% endfor %}

        </div>

    </div>


</div>

<div class="spazio_bianco"></div>

<div class="row">

    <div class="columns box-rubrica analisi_tecnica">
        <h3><a href="/articoli/analisi-tecnica">Analisi Tecnica</a></h3>
            <div class="row small-up-1 medium-up-2">

            {% for articolo in analisi_tecnica %}

                {{ articolo_lista.articolo_lista(articolo) }}

            {% endfor %}

        </div>

    </div>

</div>





{% endblock %}



{% block myScript %}


{% endblock %}







