{% extends "layouts/main.html" %}

{% block head %}
    <script src="https://cdn.auth0.com/js/lock/10.12.3/lock.min.js"></script>
{% endblock %}

{% block content %}

    <script type="text/javascript">

        // Construct an instance of Auth0Lock with your clientId and aut0 domain name
        var lock = new Auth0Lock('{{env.AUTH0_CLIENT_ID}}', '{{env.AUTH0_DOMAIN}}',{
                language: 'it',
                auth: {
                    redirectUrl: '{{env.AUTH0_CALLBACK_URL}}',
                    responseType: 'code',
                    params: {
                        scope: 'openid name email picture'
                },
                theme: {
                    logo: 'https://dato-images.imgix.net/702/1485530920-finanzadomani-png?auto=format&h=40&fit=crop&crop=entropy',
                    primaryColor: '#31324F'
                }
            }});

        lock.show();

        // Listening for the authenticated event
        lock.on("authenticated", function(authResult) {
            // Use the token in authResult to getUserInfo() and save it to localStorage
            lock.getUserInfo(authResult.accessToken, function(error, profile) {
                if (error) {
                  console.log (error);
                  return;
                }

                localStorage.setItem('accessToken', authResult.accessToken);
                localStorage.setItem('profile', JSON.stringify(profile));
            });
        });

    </script>

{% endblock %}