{% macro articolo_lista(articolo) %}


<div class="column">
    <article>
    <a href="{{articolo.url}}">
        <div class="row">
            <div class="small-12 columns">
                <img src="{{articolo.immagine | imgx ({w: 360, h: 180})}}" />
                <br><span class="titolo_rubrica_piccolo">{{articolo.categoria.name}}</span> <small>{{articolo.dataPubblicazione | date("DD-MM-YYYY")}}</small>

                <h2>
                    {{articolo.titolo}}
                </h2>

                <p>
                    {{articolo.abstract| markdownToHtml | safe| truncate(200)}}
                </p>
            </div>
        </div>
    </a>
    </article>
    <div class="spazio_bianco"></div>
</div>

{% endmacro %}
