{% extends "layouts/main.html" %}

{% import "./_articolo_lista.html" as articolo_lista %}


{% block title %}
    <title>Finanza Domani</title>
{% endblock %}

{% block description %}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/articoli/{{categoria.slug}}">{{categoria.name}}</a></li>
        </ul>
    </nav>
{% endblock %}


{% block content %}

    <div class="row small-up-1 medium-up-2">
        {% for articolo in articoli %}

            {{ articolo_lista.articolo_lista(articolo) }}


        {% endfor %}

    </div>


{% endblock %}