{% extends "layouts/main.html" %}

{% import "./_paragrafi.html" as paragrafi %}


{% block title %}
    <title>{{ articolo.titolo }} | Finanza Domani</title>
{% endblock %}

{% block description %}
    <meta name="description" content=" {{articolo.abstract | markdownToHtml | striptags | truncate(155)}}">
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/articoli/{{articolo.categoria.slug}}">{{articolo.categoria.name}}</a></li>
            <li><a href="/articoli/{{articolo.categoria.slug}}/{{articolo.slug}}">{{articolo.titolo}}</a></li>
        </ul>
    </nav>
{% endblock %}


{% block content %}

    <article>
        <header>
            <h1>{{ articolo.titolo }}</h1>


                    <small> A cura della Redazione - {{articolo.dataPubblicazione | date("DD-MM-YYYY")}}</small>


        </header>

        <div class="row">
            <div class="shrink columns">
                {% if articolo.immagine %}
                    <img src="{{articolo.immagine | imgx ({w: 1300, h: 400})}}" />
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="shrink columns testo">
                <span class="abstract">{{articolo.abstract|markdownToHtml|safe}}</span>
            </div>
        </div>

        <!-- Consiglione -->
        {% if articolo.consiglio !='' %}
        <div class="row">
            <div class="columns callout warning">

                <h2>Come Investire</h2>
                <hr>
                <span>{{articolo.consiglio|markdownToHtml|safe}}</span>
            </div>
        </div>
        {% endif %}


        {% for paragrafo in articolo.paragrafi  %}
            {% if paragrafo.layout == 'img_sinistra' %}
                {{ paragrafi.img_sinistra(paragrafo) }}
            {% endif %}

            {% if paragrafo.layout == 'img_destra' %}
                {{ paragrafi.img_destra(paragrafo) }}
            {% endif %}

            {% if paragrafo.layout == 'img_sopra' %}
                {{ paragrafi.img_sopra(paragrafo) }}
            {% endif %}

            {% if paragrafo.layout == 'img_sotto' %}
                {{ paragrafi.img_sotto(paragrafo) }}
            {% endif %}

        {% endfor %}


    </article>
    <hr>
    <div class="row align-justify align-middle">
        <div class="columns small-9">
            {% for azienda in articolo.aziende  %}
                <a class="hollow button secondary small" href="/aziende/{{azienda.codice}}">{{azienda.titolo}}</a>
            {% endfor %}

        </div>

        <div class="columns small-3">

            <small> A cura della Redazione - {{articolo.dataPubblicazione | date("DD-MM-YYYY")}}</small>

        </div>

    </div>

    <hr>

    <div id="disqus_thread"></div>

    <script>

        var disqus_config = function () {
            this.page.url = 'https://www.finanzadomani.it/post/{{data.post.slug}}';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '{{data.post.slug}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//www-finanzadomani-it.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();

    </script>

    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


{% endblock %}