{% extends "layouts/main.html" %}

{% import "./_paragrafi.html" as paragrafi %}


{% block title %}
    <title>{{ articolo.titolo }} | Finanza Domani</title>
{% endblock %}

{% block description %}
    <meta name="description" content=" {{articolo.abstract | markdownToHtml | striptags | truncate(155)}}">
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/articoli/{{articolo.categoria.slug}}">{{articolo.categoria.name}}</a></li>
            <li><a href="/articoli/{{articolo.categoria.slug}}/{{articolo.slug}}">{{articolo.titolo}}</a></li>
        </ul>
    </nav>
{% endblock %}


{% block content %}

    <article>
        <header>
            <h1>{{ articolo.titolo }}</h1>


                    <small> A cura della Redazione - {{articolo.dataPubblicazione | date("DD-MM-YYYY")}}</small>


        </header>

        <div class="row">
            <div class="shrink columns">
                {% if articolo.immagine %}
                    <img src="{{articolo.immagine | imgx ({w: 750, h: 400})}}" />
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="shrink columns testo">
                <span class="abstract">{{articolo.abstract|markdownToHtml|safe}}</span>
            </div>
        </div>
        <!-- Consiglione -->
        {% if user.isAbbonato %}

            {% if articolo.consiglio !='' %}
            <div class="row">
                <div class="columns testo_evidenza">

                    <h2>Come Investire</h2>
                    <hr>
                    <span>{{articolo.consiglio|markdownToHtml|safe}}</span>
                </div>
            </div>
            {% endif %}

        {% endif %}

        <div class="spazio_bianco"></div>


        {% for paragrafo in articolo.paragrafi  %}

            {% if user.isAbbonato %}
                {% if paragrafo.layout == 'img_sinistra' %}
                    {{ paragrafi.img_sinistra(paragrafo) }}
                {% endif %}

                {% if paragrafo.layout == 'img_destra' %}
                    {{ paragrafi.img_destra(paragrafo) }}
                {% endif %}

                {% if paragrafo.layout == 'img_sopra' %}
                    {{ paragrafi.img_sopra(paragrafo) }}
                {% endif %}

                {% if paragrafo.layout == 'img_sotto' %}
                    {{ paragrafi.img_sotto(paragrafo) }}
                {% endif %}

                {% if paragrafo.layout == '' %}
                    {{ paragrafi.no_immagine(paragrafo) }}
                {% endif %}
            {% else %}
                {% if paragrafo.invendita == 'si' %}
                    {{ paragrafi.invendita(paragrafo) }}
                {% else %}
                    {% if paragrafo.layout == 'img_sinistra' %}
                        {{ paragrafi.img_sinistra(paragrafo) }}
                    {% endif %}

                    {% if paragrafo.layout == 'img_destra' %}
                        {{ paragrafi.img_destra(paragrafo) }}
                    {% endif %}

                    {% if paragrafo.layout == 'img_sopra' %}
                        {{ paragrafi.img_sopra(paragrafo) }}
                    {% endif %}

                    {% if paragrafo.layout == 'img_sotto' %}
                        {{ paragrafi.img_sotto(paragrafo) }}
                    {% endif %}

                    {% if paragrafo.layout == '' %}
                        {{ paragrafi.no_immagine(paragrafo) }}
                    {% endif %}
                {% endif %}
            {% endif %}

        {% endfor %}


    </article>
    <hr>
    <div class="row align-justify align-middle">
        <div class="columns small-12">
            {% for azienda in articolo.aziende  %}
                <a class="hollow button secondary small" href="/aziende/{{azienda.codice}}">{{azienda.titolo}}</a>
            {% endfor %}

        </div>


    </div>



{% endblock %}



{% block myScript %}

{% endblock %}