{% extends "../../layouts/admin.html" %}



{% block content %}


    <div class="ui small menu">
        <div class="item">
           <a href="/admin/articoli/"><i class="caret left icon"></i> Articoli</a>
        </div>
        <div class="item">
           <a href="#" id="addParagrafo"><i class="add square icon"></i> Paragrafo</a>
        </div>
    </div>

    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="datiPrincipali">Dati Articolo</a>
        <a class="item" data-tab="paragrafi">Paragrafi</a>
    </div>

    <div class="ui active tab segment" data-tab="datiPrincipali">
        <form class="ui form" method="post" action="/admin/articoli/edit" enctype="multipart/form-data">
            <input type="hidden" name="_id" value="{{articolo._id}}">

            <div class="two fields">
                <div class="required field">
                    <label>Titolo</label>
                    <input type="text" name="titolo" value="{{articolo.titolo}}">
                    <span class="informazioni">Slug: {{articolo.slug}}</span>
                </div>
                <div class="field">
                    <label>Stato</label>
                    <div class="ui selection dropdown">
                      <input type="hidden" name="stato" value="{{articolo.stato}}">
                      <i class="dropdown icon"></i>
                      <div class="default text">Stato</div>
                      <div class="menu">
                          <div class="item" data-value="draft">Draft</div>
                          <div class="item" data-value="pubblicato">Pubblicato</div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Data Pubblicazione</label>
                    <input type="date" name="dataPubblicazione" value="{{articolo.dataPubblicazione | date("YYYY-MM-DD")}}">
                </div>
                <div class="field">
                    <label>Categoria</label>
                    <div class="ui selection dropdown">
                      <input type="hidden" name="categoria" value="{{articolo.categoria}}">
                      <i class="dropdown icon"></i>
                      <div class="default text">Stato</div>
                      <div class="menu">
                            {% for categoria in categorie %}
                                <div class="item" data-value="{{categoria._id}}">{{categoria.name}}</div>
                            {% endfor %}
                          <div class="item" data-value="pubblicato">Pubblicato</div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Abstract</label>
                    <textarea name="abstract" rows="5">{{articolo.abstract}}</textarea>
                </div>
                <div class="field">
                    <label>Immagine</label>
                    <input type="file" name="immagine" value="{{articolo.immagine}}">
                    {% if articolo.immagine %}
                        <div class="ui divider"></div>
                        <img class="ui image centered" src="{{articolo.immagine | imgx ({w: 500, h: 200})}}">
                    {% endif %}

                </div>
            </div>
            <div class="field">
                <label>Consiglio</label>
                <textarea name="consiglio" rows="5">{{articolo.consiglio}}</textarea>
            </div>
            <div class="ui primary submit small button sticky"><i class="save icon"></i> Salva</div>
        </form>
    </div>
    <div class="ui tab segment" data-tab="paragrafi">
        <div class="ui items">
            {% for paragrafo in articolo.paragrafi  %}
            <div class="item">
                <div class="image">
                    {% if paragrafo.immagine %}
                        <img class="ui image" src="{{paragrafo.immagine | imgx ({w: 500, h: 500})}}">
                    {% endif %}
                </div>
                <div class="content">
                    {{paragrafo.titolo}} | {{paragrafo.ordine}}
                    <div class="meta">
                        <span>{{paragrafo.testo}}</span>
                    </div>

                    <div class="extra">
                        <div class="ui icon small primary button editParagrafo" data-paragrafo='{{paragrafo | dump}}'><i class="edit icon"></i></div>
                        <div class="ui icon small button deleteParagrafo" id="deleteParagrafo" paragrafoid="{{paragrafo._id}}"><i class="trash outline icon"></i></div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Paragrafo
        </div>
        <form class="ui form paragrafo" id="formParagrafo" method="post" action="/admin/articoli/paragrafi/edit" enctype="multipart/form-data">
            <input type="hidden" name="articoloId" value="{{articolo._id}}">
             <input type="hidden" name="_id">

                <div class="required field">
                    <label>Titolo</label>
                    <input type="text" name="titolo">
                </div>
            <div class="two fields">
                <div class="field">
                    <label>Immagine</label>
                    <input type="file" name="immagine">
                </div>
                <div class="field">
                    <label>Ordine</label>
                    <input type="number" name="ordine">
                </div>
            </div>
            <div class="field required">
                <label>Testo</label>
                <textarea name="testo" rows="5"></textarea>
            </div>
            <div class="ui primary submit small button"><i class="save icon"></i> Invia</div>
        </form>
    </div>

{% endblock %}


{% block myScript %}
<script type="text/javascript">


        $('.ui.form')
            .form({
                fields: {
                    titolo     : 'empty',
                    testo     : 'empty'
                },
                inline : true
        });

        $(document).ready(function(){
            $('.ui.menu .item')
                .tab({
                    history: true,
                    historyType : 'hash'
                });
        });

        $( "#addParagrafo" ).on( "click", function() {
            $('#formParagrafo').form('reset');
            $('.ui.menu').find('.item').tab('change tab', 'paragrafi');
            $('.ui.modal').modal('show');
        });

        $( ".editParagrafo" ).on( "click", function() {
                var paragrafodata = $(this).data('paragrafo')
                delete paragrafodata.immagine;
                $('#formParagrafo').form('set values', paragrafodata);
                $('.ui.modal').modal('show');


        });

        $( ".deleteParagrafo" ).on( "click", function() {
            if (confirm('Vuoi davvero eliminare il paragrafo?')) {
                let paragrafoid = $(this).attr('paragrafoid')
                $(location).attr('href', '/admin/articoli/paragrafi/delete/{{articolo._id}}/' + paragrafoid)
            }

        });

        $('.ui.selection.dropdown').dropdown();

</script>
{% endblock %}

