{% extends "../../layouts/admin.html" %}


{% block content %}


    <div class="ui small menu">
        <div class="item">
            <a href="#" id="addArticolo" title="Aggiungi Articolo"><i class="add square icon"></i> Aggiungi</a>
        </div>
    </div>

    <table class="ui selectable celled table" id="example">
        <thead>
            <tr>
                <th>Titolo</th>
                <th>Slug</th>
                <th>Stato</th>
                <th>Data</th>
                <th></th>
            </tr>
        </thead>
        <!-- <tbody>
            {% for articolo in articoli %}
                <tr>
                    <td>{{articolo.titolo}}</td>
                    <td>{{articolo.slug}}</td>
                    <td>{{articolo.stato}}</td>
                    <td><div class="tiny ui icon button vedi" documentid="{{articolo._id}}"><i class="edit icon"></i></div></td>
                </tr>

            {% endfor %}
        </tbody> -->
    </table>


    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Titolo Articolo
        </div>
        <form class="ui form" method="post" action="/admin/articoli/aggiungi">
            <div class="required field">
                <label>Titolo</label>
                <input type="text" name="titolo">
            </div>
            <div class="ui primary submit small button"><i class="save icon"></i> Invia</div>
        </form>
    </div>

{% endblock %}

{% block myScript %}
<script type="text/javascript">

        $(document).ready(function() {
            $('#example').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/admin/articoli/table",
                "order": [[ 3, "desc" ]],
                "columns": [
                    { "data": "titolo" },
                    { "data": "slug" },
                    { "data": "stato" },
                    { "data": "dataPubblicazione", orderDataType:  'datetime-moment'},
                    {
                        "data": null,
                        "sorable": false,
                        "render": function (data, type, full)
                                    {
                                        return '<a href="/admin/articoli/vedi/'+ data._id +' " class="tiny ui icon button vedi"><i class="edit icon"></i></a>';
                                    }
                    }

                ]
            });


            $('.vedi').click(function() {
                //$varName = $(this).attr('documentid');
                console.log($(this).attr('documentid'));

                $(location).attr('href', '/admin/articoli/vedi/' + $(this).attr('documentid'))
            });

        });

        $('.ui.form')
            .form({
                fields: {
                    titolo     : 'empty'
                },
                inline : true
        });

        $( "#addArticolo" ).on( "click", function() {
            $('.ui.modal').modal('show');
        });



</script>
{% endblock %}