{% extends "layouts/main.html" %}

{% import "../articoli/_articolo_lista.html" as articolo_lista %}


{% block title %}
    <title>{{ azienda.titolo }} | Finanza Domani</title>
{% endblock %}

{% block description %}
    <meta name="description" content=" {{azienda.titolo | markdownToHtml | striptags | truncate(155)}}">
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/aziende/{{azienda.codice}}">{{azienda.codice}}</a></li>
        </ul>
    </nav>
{% endblock %}


{% block content %}

        <header>
            <h1>{{ azienda.titolo }}</h1>
        </header>

        <div class="row">
            <div class="shrink columns">
                {% if azienda.immagine %}
                    <img src="{{azienda.immagine | imgx ({w: 400, fit: clip})}}" />
                {% endif %}
            </div>
            <div class="columns">
                {% if azienda.descrizione %}
                    {{ azienda.descrizione|markdownToHtml|safe }}
                {% endif %}
            </div>
        </div>

        <hr>

        <div class="row small-up-1 medium-up-2">
            {% for articolo in articoli %}

                {{ articolo_lista.articolo_lista(articolo) }}


            {% endfor %}

        </div>


{% endblock %}